.actions.svelte-1xz699o {
  display: flex;
  grid-area: actions;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-3);
}
.chat-input.svelte-15zhun5 {
  grid-area: input;
}
.ctainer.svelte-6ys3vy {
  background: var(--grey-500);
  box-shadow: inset 0 -5px 4px -4px #0003, 0 -1px 4px #0003;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}
.ctainer.svelte-6ys3vy div + div {
  margin-top: var(--spacing-0);
}
.wrap.svelte-6ys3vy {
  overflow-y: auto;
  max-height: 13rem;
}
.layout-default.svelte-6ys3vy > * {
  display: block;
}
.layout-grid.svelte-6ys3vy {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: var(--spacing-4);
  margin: var(--spacing-4);
}
.button-wrap.svelte-1h6yit6 button {
  border-radius: 0;
  justify-content: flex-start;
  width: 100%;
}
.command.svelte-1h6yit6 {
  display: flex;
}
.description.svelte-1h6yit6 {
  font-weight: 400;
  color: var(--grey-200);
}
.ctainer.svelte-16qb93v {
  display: flex;
  justify-content: center;
}
.emoji.svelte-16qb93v {
  display: flex;
  align-items: center;
  height: var(--spacing-6);
  width: var(--spacing-6);
  font-size: var(--text-size-xl);
}
.button.svelte-16qb93v {
  padding: var(--spacing-2);
  border-radius: var(--ds-radius-md, var(--border-radius-base));
  transition: background-color var(--transition-fast),
    color var(--transition-fast);
}
.button.active.svelte-16qb93v,
.button.svelte-16qb93v:active {
  background-color: var(--grey-300);
}
@media (hover: hover) {
  .button.svelte-16qb93v:hover {
    background-color: var(--grey-300);
  }
}
.header.svelte-1dlpn2i {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-2) var(--spacing-2) var(--spacing-2) var(--spacing-4);
}
.description.svelte-mywyyy {
  font-weight: 400;
  color: var(--grey-200);
}
.wrap.svelte-z0ayqu {
  color: var(--grey-200);
  display: flex;
  justify-content: space-between;
  font-size: var(--text-size-xs);
}
.wrap.svelte-1f9i7in {
  border-radius: var(--ds-radius-sm, var(--border-radius-0-15));
  font-weight: 600;
  padding: var(--spacing-0) var(--spacing-1);
  white-space: nowrap;
}
.wrap.svelte-1lweo91 {
  text-decoration: underline;
  white-space: break-spaces;
  text-align: left;
}
.wrap.svelte-hkdwvy {
  text-decoration: underline;
}
.wrap.svelte-hkdwvy > span {
  text-decoration: inherit;
}
.wrap.svelte-aciytr {
  border-radius: var(--ds-radius-md, var(--border-radius-base));
  width: 100%;
  background: var(--grey-500);
}
.content.svelte-aciytr {
  padding: var(--ds-spacing-2, 0.5em) var(--ds-spacing-4, 1em);
  width: 100%;
}
.content.svelte-aciytr > p {
  color: var(--white);
  width: 100%;
}
.content.svelte-aciytr > p > a {
  text-decoration: underline;
}
.wrap.svelte-lpm6vw {
  border-radius: var(--ds-radius-md, var(--border-radius-base));
  width: 100%;
  background: var(--grey-500);
}
.header.svelte-lpm6vw {
  position: relative;
  padding: var(--ds-spacing-1, 0.25em) var(--ds-spacing-4, 1em);
  background: var(--grey-400);
  color: var(--white);
  line-height: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: var(--ds-radius-md, var(--border-radius-base))
    var(--ds-radius-md, var(--border-radius-base)) 0 0;
}
.header.svelte-lpm6vw > * + * {
  margin-left: var(--ds-spacing-1, 0.5ch);
}
.content.svelte-lpm6vw {
  padding: var(--ds-spacing-2, 0.5em) var(--ds-spacing-4, 1em);
  width: 100%;
}
.content.svelte-lpm6vw > p {
  color: var(--white);
  width: 100%;
}
.content.svelte-lpm6vw > p > a {
  text-decoration: underline;
}
.wrap.svelte-c5mgpe {
  border-radius: var(--ds-radius-md, var(--border-radius-base));
  width: 100%;
  background: var(--grey-500);
}
.header.svelte-c5mgpe {
  position: relative;
  padding: var(--ds-spacing-1, 0.25em) var(--ds-spacing-4, 1em);
  background: var(--grey-400);
  color: var(--white);
  line-height: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: var(--ds-radius-md, var(--border-radius-base))
    var(--ds-radius-md, var(--border-radius-base)) 0 0;
}
.header.svelte-c5mgpe > * + * {
  margin-left: var(--ds-spacing-1, 0.5ch);
}
.content.svelte-c5mgpe {
  padding: var(--ds-spacing-2, 0.5em) var(--ds-spacing-4, 1em);
  width: 100%;
}
.content.svelte-c5mgpe > p {
  color: var(--white);
  width: 100%;
}
.content.svelte-c5mgpe > p > a {
  text-decoration: underline;
}
.header-background.svelte-c5mgpe {
  position: absolute;
  margin-left: var(--spacing-0);
  top: 0;
  left: 0;
}
.rain-bot.svelte-c5mgpe {
  display: inline-flex;
  align-items: flex-start;
  overflow: hidden;
}
.rain-bot.svelte-c5mgpe > * + * {
  margin-left: var(--spacing-1) !important;
}
.rain-bot.svelte-c5mgpe > span,
.rain-bot.svelte-c5mgpe > button {
  align-self: baseline;
}
.wrap.svelte-1jv89ki {
  border-radius: var(--ds-radius-md, var(--border-radius-base));
  width: 100%;
  background: var(--grey-500);
}
.header.svelte-1jv89ki {
  position: relative;
  padding: var(--ds-spacing-1, 0.25em) var(--ds-spacing-4, 1em);
  background: var(--grey-400);
  color: var(--white);
  line-height: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: var(--ds-radius-md, var(--border-radius-base))
    var(--ds-radius-md, var(--border-radius-base)) 0 0;
}
.header.svelte-1jv89ki > * + * {
  margin-left: var(--ds-spacing-1, 0.5ch);
}
.content.svelte-1jv89ki {
  padding: var(--ds-spacing-2, 0.5em) var(--ds-spacing-4, 1em);
  width: 100%;
}
.content.svelte-1jv89ki > p {
  color: var(--white);
  width: 100%;
}
.content.svelte-1jv89ki > p > a {
  text-decoration: underline;
}
.wrap.svelte-13mhole {
  border-radius: var(--ds-radius-md, var(--border-radius-base));
  width: 100%;
  background: var(--grey-500);
}
.header.svelte-13mhole {
  position: relative;
  padding: var(--ds-spacing-1, 0.25em) var(--ds-spacing-4, 1em);
  background: var(--grey-400);
  color: var(--white);
  line-height: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: var(--ds-radius-md, var(--border-radius-base))
    var(--ds-radius-md, var(--border-radius-base)) 0 0;
}
.header.svelte-13mhole > * + * {
  margin-left: var(--ds-spacing-1, 0.5ch);
}
.header-background.svelte-13mhole {
  position: absolute;
  margin-left: var(--spacing-0);
  top: 0;
  left: 0;
}
.content.svelte-13mhole {
  padding: var(--ds-spacing-2, 0.5em) var(--ds-spacing-4, 1em);
  width: 100%;
}
.content.svelte-13mhole > p {
  color: var(--white);
  width: 100%;
}
.content.svelte-13mhole > p > a {
  text-decoration: underline;
}
.wrap.svelte-lvhf39 {
  border-radius: var(--ds-radius-md, var(--border-radius-base));
  width: 100%;
  background: var(--grey-500);
}
.content.svelte-lvhf39 {
  padding: var(--ds-spacing-2, 0.5em) var(--ds-spacing-4, 1em);
  width: 100%;
}
.content.svelte-lvhf39 > p {
  color: var(--white);
  width: 100%;
}
.content.svelte-lvhf39 > p > a {
  text-decoration: underline;
}
.holder-wrap.svelte-lvhf39 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
.message-content.svelte-1yzfnme {
  overflow-x: hidden;
  min-height: 0px;
  transform: translateZ(0);
  overflow-y: scroll;
  word-break: break-word;
  padding: var(--spacing-2) var(--spacing-4);
  display: flex;
  flex-direction: column;
  overflow-anchor: none;
  overscroll-behavior: contain;
}
.message-content.svelte-1yzfnme > * + * {
  margin-top: var(--spacing-2);
}
.chat-unavailable.svelte-1yzfnme {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.more-wrap.svelte-1yzfnme {
  left: 50%;
  position: absolute;
  bottom: var(--spacing-6);
  transform: translate(-50%);
}
.more-wrap.svelte-1yzfnme:hover .messages-to-read {
  display: inline-flex;
}
.more-wrap.svelte-1yzfnme:hover .chat-paused {
  display: none;
}
.more-wrap.svelte-1yzfnme > button {
  min-width: 210px;
}
.messages-to-read.svelte-1yzfnme,
.chat-paused.svelte-1yzfnme {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  margin-left: var(--spacing-0);
}
.messages-to-read.svelte-1yzfnme * + *,
.chat-paused.svelte-1yzfnme * + * {
  margin-top: var(--spacing-1);
  margin-left: var(--spacing-2);
}
.chat-paused.svelte-1yzfnme {
  word-break: none;
}
.messages-to-read.svelte-1yzfnme {
  display: none;
}
.online.svelte-194n7rh {
  grid-area: online;
  display: flex;
  align-items: center;
}
.online.svelte-194n7rh > * + * {
  margin-left: var(--spacing-2);
}
.messages.svelte-tf7pkw {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  touch-action: none;
}
.right-header.svelte-tf7pkw {
  display: flex;
  align-items: center;
}
.popped-chat-wrapper.svelte-tf7pkw {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.popped-chat-wrapper.svelte-tf7pkw > * + * {
  margin-top: var(--spacing-2);
}
.footer.svelte-tf7pkw {
  position: relative;
  display: grid;
  align-items: center;
  padding: var(--spacing-4);
  row-gap: var(--spacing-2);
  background: var(--grey-500);
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "input input" "online actions";
  touch-action: none;
}
.footer.svelte-tf7pkw *,
.footer.svelte-tf7pkw:not(.scrollY) {
  touch-action: none;
}
.header.svelte-tf7pkw {
  background: var(--grey-700);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  z-index: 2;
  position: relative;
  box-shadow: var(--shadows-lg);
  flex-shrink: 0;
  touch-action: none;
  padding-right: var(--scrollbar-size);
  padding-left: var(--spacing-4);
}
